@charset "UTF-8";
@font-face {
  font-family: "OpenSans-Bold";
  src: url("/assets/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("/assets/fonts/OpenSans-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

html {
  font-size: 10px; /* 1rem = 10px по умолчанию */
}

body {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.6rem;
  background-color: #ffffff;
  color: grey;
}

h1 {
  color: #5900ff;
  font-size: clamp(2.4rem, 3vw, 5rem);
  font-weight: 700;
  font-family: "OpenSans-Bold", sans-serif;
}

h2 {
  color: #ea00ff;
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  font-weight: 500;
}

h3 {
  color: #535353;
  font-size: clamp(1.4rem, 3vw, 2rem);
  font-weight: 400;
}

h4 {
  color: rgb(5, 5, 5);
}

.bg-img {
  position: relative;
  background-image: url(/assets/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  z-index: 1;
}

.bg-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: rgb(0, 0, 0);
  z-index: -1;
}

.navbar {
  padding: 15px 0;
}
.navbar .logo-nav {
  width: 150px;
}
.navbar .menu {
  display: flex;
  gap: 10px;
}
.navbar .menu .menu__link {
  text-transform: uppercase;
}
.navbar .menu .menu__link a {
  color: #fff;
}

.title {
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  color: #fff;
  font-size: 4.5rem;
  margin: 100px auto;
  text-align: center;
}

.content {
  margin: 30px 0 60px;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.articles .article {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.articles .article .article__img {
  flex-shrink: 0;
  width: 380px;
  height: 294px;
  overflow: hidden;
  margin: 0;
}
.articles .article .article__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.articles .article .article__content {
  flex: 1;
}
.articles .article .article__content .article__tags {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}
.articles .article .article__content .article__tags a {
  color: #e9b62a;
}
.articles .article .article__content .article__title {
  line-height: 3.5rem;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  margin-bottom: 10px;
}
.articles .article .article__content .article__meta {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.articles .article .article__content .article__meta .article__author {
  font-weight: bold;
}

aside .post__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
aside .post__title::after {
  content: "";
  border: solid 2px red;
  display: block;
  width: 100px;
  margin: 10px auto;
}
aside .posts-new .post__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 60px;
}
aside .posts-new .post__list .post__item {
  display: flex;
  gap: 15px;
  row-gap: 8px;
}
aside .posts-new .post__list .post__item .post__img {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin: 0;
}
aside .posts-new .post__list .post__item .post__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
aside .posts-new .post__list .post__item .post__content {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}
aside .posts-new .post__list .post__item .post__content .post__meta {
  font-size: 1.2rem;
}
aside .posts-new .search-form {
  display: flex;
  height: 50px;
  width: 100%;
  margin-bottom: 60px;
}
aside .posts-new .search-form input {
  flex: 1;
  padding: 10px;
}
aside .posts-new .search-form .search-img {
  width: 50px;
  background-color: #e9b62a;
}
aside .posts-new .search-form .search-img img {
  align-items: center;
  width: 20px;
}
aside .newsletter {
  margin-bottom: 60px;
}
aside .newsletter .subscribe-form {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-direction: column;
}
aside .newsletter .subscribe-form input {
  height: 50px;
  padding: 10px;
}
aside .newsletter .subscribe-form button {
  height: 50px;
}

.tags {
  margin-bottom: 60px;
}
.tags .tags__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.tags .tags__list .tags__item {
  color: #000;
  padding: 6px 18px;
  border: solid 2px #e9b62a;
}

.topics .tags__list .topic__item {
  padding: 10px 0;
  border-bottom: solid 1px;
  font-weight: 700;
}
.topics .tags__list span {
  color: #e9b62a;
  vertical-align: super;
  margin-left: 6px;
}

.footer {
  margin-bottom: 60px;
}
.footer .social {
  background-color: #b8b7b7;
  margin-bottom: 60px;
}
.footer .social .social__list {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 35px 0;
}
.footer .social .social__list .social__item {
  width: 35px;
}
.footer .copyright {
  text-align: center;
}